*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
    color: white;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:5px;
    background-color: black;
    width:100%;
    position: fixed;
    z-index:1;
}

.logoIcon{
    height:40px;
    padding:10px;
    display: flex;
    align-items:end;
}
.logoIcon img{
    height: 100%;
    filter: brightness(50%) saturate(100%) invert(50%) sepia(100%) saturate(10%) hue-rotate(0deg);
    border-radius:30px;
}
.logoIcon span{
    color: rgb(160, 163, 166);
    font-style: italic;
    text-transform: lowercase;
    font-family:serif;
    font-weight:bold;
}
.inputBox{
    display:flex;
    align-items: center;
    width: 50%;
    border-radius: 50px;
    background-color: rgba(111, 116, 120, 0.877);
    margin-right:10px;
    overflow: hidden;
    /* border: 1px solid green; */
}
input{
    padding: 12px;
    font-size: large;
    outline: none;
    border-radius: 50%;
    width:100%;
    border: none;
    background: transparent;
    font-family: sans-serif;
    color: black;
    /* border: 1px solid red; */
}
input::placeholder{
    color:black;
    opacity:0.5;
}
.search i{
    padding: 12.5px;
    font-size: 22px;
    background-color: rgba(255, 85, 0, 0.688);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.sect2{
    display: flex;
    text-transform: capitalize;
    color: #f0ebebc9;
    font-size: large;
    padding-right:1.5rem;
    align-items: center;
}
.sect2 .boxA{
    padding:0px 5px 0px 5px;   
    display: flex;
    align-items: center;
    gap:1rem;
}
.barIcon{
    display: none;
    font-size:30px;
}
.barOpt{
    display: none;
    
}

.barOptions{
    display: block;
    position: absolute;
    right: 1rem;
    top: 4rem;
    z-index: 1;
    padding:10px;
    border-radius:5px;
    background-color:rgb(111, 116, 120);
    /* border: 1px solid black; */
    box-shadow: -5px 10px 20px 0px rgb(23, 22, 22);
    position:fixed;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
}
.barOptions div:hover{
    transform: scale(1.1);
    /* transition:0.5s; */
}

.boxA div:hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.login{
    background-color: blue;
    padding:7px;
    border-radius: 50px;
    text-align: center;
    font-weight:bold;
    font-size: large;
    width:4rem;
}

/* section1 */
.Maincontainer{
    padding: 5rem 1rem 1rem 1rem;
}
.songsContainer{
    width: auto;
}
label{
    text-transform: capitalize;    
    font-weight:600;
    font-size:22px;
    font-family: sans-serif;
}
.songsContainer2{
    width: auto;
}
.songsContainer3{
    width: auto;
}
.cards1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    height: 300px;
    width: 250px;
    padding: 10px;
    text-transform: capitalize;
}
.card:hover{
    transform:scale(.9);
    transition:0.9s;
    cursor:pointer;
}
.picCard1{
    height:240px;
    width:250px;
    background-image:url("img-source/download.jpeg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    border-radius:10px;
    margin-bottom:10px;
    position: relative;
}
.playIcon{
    position:absolute;
    right:1rem;
    bottom: 1rem;
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    font-size: large;
    background-color: rgb(11, 236, 11);
    z-index:0;
    border-radius: 50%;
}
.songName{
    /* height:30px; */
    width:100%;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    align-content: center;
}
.sr-wr{
    display:flex;
    gap:5px;    
    font-size:14px;
    opacity:0.7;
    font-family: serif;
}
.card:hover{
    background-color: rgb(34, 33, 33);
    border-radius:10px;
}

/* artistcontainer */
.ArtistContainer{
    width:auto;
}
.artistBoxes{
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding:1rem 0 1rem 0;
    /* overflow:auto;
    scrollbar-width: none; */
}
.artistBox{
    width:150px;
    height:150px;
    border:2px solid rgb(111, 116, 120);
    border-radius:50%;
}
.artistBox:hover{
     transform:scale(1.1);
    transition:0.5s;
}
.artistBox .img{
    border-radius: 50%;
    width:150px;
    height:150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* playlistBox */
.playlistContainer{
    /* border: 1px solid blue; */
    display: flex;
    justify-content:space-between;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.playlists{
    width:50%;
    height:70vh;
    overflow: auto;
    /* scrollbar-width:; */
    border: 1px solid rgb(111, 116, 120);
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:rgba(50, 49, 49, 0.488);
    border-radius:10px;
    gap: 1rem;
}
::-webkit-scrollbar{
    width:2px;
}
::-webkit-scrollbar-track{
    /* background-color:yellow; */
    border-bottom-right-radius:50px;
    border-top-right-radius:50px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(111, 116, 120);
    border-radius:10px;
}
.songName{
    font-size: large;
    font-weight: bold;
    font-family: serif;
    text-transform: capitalize;
}
.playlists .songBox{
    display: flex;
    height: 100px;
}
.img-in-playlist{
    width:100px;
    height:100px;
    background-image:url("img-source/jubin2.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:10px;
    border: 1px solid rgb(111, 116, 120);
    position: relative;
}
.PLplayIcon{
    position:absolute;
    right:.5rem;
    bottom:.5rem;
    color: black;
    width:20px;
    height:20px;
    text-align: center;
    align-content: center;
    font-size:x-small;
    background-color: rgb(236, 11, 11);
    z-index:0;
    border-radius: 50%;
}


.img-in-playlist:hover{
    transform:scale(1.1);
    transition:0.9s;
    cursor: pointer;
}
.songDetails{
    width: 250px;
    padding:10px;
    overflow: hidden;
}
.songDetails p{
    padding: 3px;
}
.musicLogo{
    width:40%;
    border: 1px solid rgb(111, 116, 120);
    height:70vh;
    align-content: center;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color:rgba(50, 49, 49, 0.488);
    border-radius:10px;
}
.musicLogo .mLogoPic{
    width: 250px;
    height: 200px;
    background-image:url("img-source/tkLogo.png");
    filter: brightness(50%) saturate(100%) invert(50%) sepia(100%) saturate(10%) hue-rotate(0deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
/* player */
.playerContainerMain{
    display:none;
    /* border: 1pc solid blue; */
}
.playerContainerMain .plyrBackB{
    font-size:30px;
}
.plcBox1{
    margin-top:1rem;
    display:flex;
    gap:.5rem;
    flex-wrap: wrap;
    justify-content:center;
    /* border-bottom:1px solid red; */
    background:linear-gradient(rgba(0, 0, 0, 0.365),rgba(0, 0, 255, 0.758),rgba(0, 0, 0, 0.365));
    /* background-color: rgb(13, 13, 140); */
    padding: 1rem;
}
.plcImg{
    width: 300px;
    height:300px;
    border:1px solid rgb(111, 116, 120);
    background-image:url("img-source/vishal m.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:10px;
}
.plcsdetail{
    width:600px;
    border: 1px solid rgb(111, 116, 120);
    background-color:rgba(118, 120, 121, 0.204);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:start;
    border-radius: 10px;
    gap:5px;
    font-family:serif;
    text-transform:capitalize;
}
.plcsdetail div{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    font-size:30px;
    gap:5px;
    width: 100%;
    /* border: 1px solid yellowgreen; */
}
.plcsdetail p{
    /* border: 1px solid red; */
    opacity:0.5;
    font-size: 22px;
    font-family: serif;
}

/* plyrBackButton */
.plcsdetail .plcButton{
    text-align: center;
    /* border: 1px solid red; */
    margin-top:1rem;
    width: 100%;
    height:100%;
    align-content:center;
    display: flex;
    justify-content: center;
}
.plcButton button{
    width:8rem;
    background-color: green;
    border: none;
    font-size:30px;
    border-radius:10px;
    padding:3px;
    box-shadow:0px 5px 10px 0px black;
    cursor:pointer;
}
.plcButton button:hover{
    transform:scale(1.1);
    transition:0.5s;
}
.plyrBackB i:hover{
    color:red;
    transform:scale(1.4);
    transition:0.9s;
    cursor:pointer;
}

@media(min-width:950px){
    .barOptions{
    display: none;
}
}
@media (max-width:950px){
.sect2 .boxA{
    display: none;
}
.barIcon{
    display: block;
}
}
@media(max-width:730px){
.playlists{
    width:100%;
}
.musicLogo{
    width:100%;
    
}
}
@media (max-width:670px){
.cards1{
    display:flex;        
    flex-wrap: nowrap;
    overflow:auto;
    scrollbar-width: none;
}

}
@media (max-width:375px){
input{
    padding: 10px;
    font-size:14px;
}
.search i{
    padding: 6px;
    font-size: 22px;
}
.card{
    height: 300px;
    width: 300px;
}
.picCard1{
    height:240px;
    width:300px;
}
}
@media (max-width:320px){
input{
    padding: 10px;
    font-size:14px;
}
.search i{
    padding: 6px;
    font-size: 22px;
}
.card{
    height: 300px;
    width: 260px;
}
.picCard1{
    height:240px;
    width:260px;
}
}
