*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:5px;
    background-color: black;
    color: white;
    width:100%;
    position: fixed;
    z-index:1;
}

.logoIcon{
    height:40px;
    padding:10px;
    display: flex;
    align-items:end;
}
.logoIcon img{
    height: 100%;
    filter: brightness(50%) saturate(100%) invert(50%) sepia(100%) saturate(10%) hue-rotate(0deg);
    border-radius:30px;
}
.logoIcon span{
    color: rgb(160, 163, 166);
    font-style: italic;
    text-transform: lowercase;
    font-family:sans-serif;
    font-weight:bold;
}
.inputBox{
    display:flex;
    align-items: center;
    width: 50%;
    border-radius: 50px;
    background-color: rgb(32, 33, 34);
    margin-right:10px;
    overflow: hidden;
    /* border: 1px solid green; */
}
input{
    padding: 12px;
    font-size: large;
    outline: none;
    border-radius: 50%;
    width:100%;
    border: none;
    background: transparent;
    color: white;
    /* border: 1px solid red; */
}
.search i{
    padding: 12px;
    font-size: 22px;
    background-color: rgba(255, 85, 0, 0.688);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.sect2{
    display: flex;
    text-transform: capitalize;
    color: #f0ebebc9;
    font-size: large;
    padding-right:1.5rem;
    align-items: center;
}
.sect2 .boxA{
    padding:0px 5px 0px 5px;   
    display: flex;
    align-items: center;
    gap:1rem;
}
.barIcon{
    display: none;
    font-size:30px;
}
.barOpt{
    display: none;
    
}

.barOptions{
    display: block;
    position: absolute;
    right: 1rem;
    top: 4rem;
    z-index: 1;
    color: white;
    padding: 5px;
    border-radius:5px;
    background-color:rgba(145, 127, 144, 0.874);
    /* border: 1px solid black; */
    box-shadow: -5px 10px 20px 0px rgb(23, 22, 22);
    position:fixed;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
}
.barOptions div:hover{
    transform: scale(1.1);
    /* transition:0.5s; */
}

.boxA div:hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.login{
    background-color: blue;
    padding:7px;
    border-radius: 50px;
    text-align: center;
    font-weight:bold;
    font-size: large;
    width:4rem;
}

/* section1 */
.Maincontainer{
    padding: 5rem 1rem 1rem 1rem;
}
.songsContainer{
    width: auto;
    color: white;
}
label{
    text-transform: capitalize;    
    font-weight:600;
    font-size:20px;
}
.songsContainer2{
    width: auto;
    color: white;
}
.songsContainer3{
    width: auto;
    color: white;
}
.cards1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    height: 300px;
    width: 250px;
    padding: 10px;
    text-transform: capitalize;
}
.picCard1{
    height:240px;
    width:250px;
    background-image:url("img-source/download.jpeg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-bottom:10px;
    position: relative;
}
.playIcon{
    position:absolute;
    right:1rem;
    bottom: 1rem;
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    font-size: large;
    background-color: rgb(11, 236, 11);
    z-index:0;
    border-radius: 50%;
}
.playIcon:hover{
    display: block;
}
.card:hover{
    background-color: rgb(34, 33, 33);
    border-radius: 5px;
}

/* artistcontainer */
.ArtistContainer{
    width: auto;
}
.artistBoxes{
    /* width: auto; */
    display: flex;
    /* overflow: auto; */
}
.artistBox{
    width: 300px;
    height: 200px;
    border:1px solid red;
}

@media(min-width:950px){
    .barOptions{
    display: none;
}
}
@media (max-width:950px){
.sect2 .boxA{
    display: none;
}
.barIcon{
    display: block;
}
}
@media (max-width:670px){
.cards1{
    display:flex;        
    flex-wrap: nowrap;
    overflow:auto;
    scrollbar-width: none;
}
.artistBoxes{
    /* width: 100vh; */
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}
}
@media (max-width:375px){
input{
    padding: 10px;
    font-size:14px;
}
.search i{
    padding: 6px;
    font-size: 22px;
}
.card{
    height: 300px;
    width: 300px;
}
.picCard1{
    height:240px;
    width:300px;
}
}
@media (max-width:320px){
input{
    padding: 10px;
    font-size:14px;
}
.search i{
    padding: 6px;
    font-size: 22px;
}
.card{
    height: 300px;
    width: 260px;
}
.picCard1{
    height:240px;
    width:260px;
}
}
